body,
html,
#root,
main {
    padding: 0;
    margin: 0;
    height: 100%;
    @apply bg-white;
}

* {
    box-sizing: border-box;
}

.modal::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
}
